* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

/* Masonry gallery */
.gallery {
  column-count: 3;
  column-gap: 25px;
  max-width: 1600px;
  margin: 0 auto;
}

.gallery img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  display: block;
  border-radius: 10px;
   pointer-events: none;
  user-select: none;
   background-image: url("watermark.png");
}

/* Hover effect (optional) */
.gallery img:hover {
  opacity: 0.85;
  transition: 0.3s;
  cursor: pointer;
}



/* Responsive */
@media (max-width: 1024px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .gallery {
    column-count: 1;
  }
}


.img-wrap {
  position: relative;
  margin-bottom: 25px;
}

.img-wrap img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* Watermark */
.watermark {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 48px;
  font-weight: bold;
  letter-spacing: 6px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.18);
  pointer-events: none;
}

